.contador{
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;

}

.ocultar{
    display: none;
}

.btn{
    border-radius: 6px;
    background: transparent; 
    border: none;
    color: white;
    padding: 16px 16px;
    text-align: center;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    border: 2px solid #9e95a0;
}

.btn1{
    background-color: white; 
    color: #af8eb5; 
    border: 2px solid #af8eb5;
  
}

.btn1:hover {
    background-color: #af8eb5;
    color: white;
 }

.centro{
    display: flex;
    justify-content: center;
}

.show-element {
    /*duracion de la animacion, puedes variar el tiempo, entre mas grande mas tarda el efecto*/
    animation-duration: 2s;
    animation-fill-mode: both;
    /*le indicas que animacion quieres aplicarle, animacion hecha por ti en un keyframe*/
    animation-name: fadeIn;
    background-color: rgb(225, 225, 255);
  }
  
  .hide-element {
    animation-duration: 2s;
    animation-fill-mode: both;
    animation-name: fadeOut;
  }
  
  /*KeyFrames*/
  /*La animacion hecha por ti, puedes ponerle cualquier nombre, solo es para identificarlo*/
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  /*Puedes hacer mas animaciones personalizadas con todo lo que pueda hacer css*/
  @keyframes otherAnimation {
    0% {
      opacity: 0;
      transform: scale(0);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
  
  @keyframes animationTranslateIn {
    from {
      opacity: 0;
      transform: translateX(-200px);
    }
  
    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }
  
  @keyframes animationTranslateOut {
    from {
      opacity: 1;
      transform: translateX(0px);
    }
  
    to {
      opacity: 1;
      transform: translateX(-200px);
    }
  }
  