
*{
    margin: 0;
    box-sizing: border-box;
  }

.nav{
    background-color: #e1bee7;
    height: 80px;
    width: 100%;
    top: 0;
    left: 0;
  }
  
  .nav-div{
    display: flex;
    justify-content: space-between;
    max-width: 992px;
    margin: 0 auto;
  }
  
  .logo1{
    width: 15%;
    padding: 0 40px;
    line-height: 80px;
  
  }
  
  .nav-link{
    color: white;
    text-decoration: none;
  }
  
  .nav-menu{
    display: flex;
    margin-right: 40px;
    list-style: none;
  }
  
  .nav-menu-item{
    font-size: 15px;
    margin: 0 10px;
    line-height: 80px;
    text-transform: uppercase;
    width: max-content;
  }
  
  .nav-menu-link{
    padding: 8px 12px;
    border-radius: 3px;
  }
  
  .nav-menu-link:hover{
    background-color: #af8eb5;
  }
  
  .nav-toggle{
    color: white;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    display: none;
    cursor: pointer;
  }
  
  @media (max-width: 768px) {
    .logo{
    font-size: 25px;
    padding: 0 20px;
    line-height: 60px;
  
  }
  
  .nav-link{
    color: white;
    text-decoration: none;
  }
  
  .nav-menu{
    flex-direction: column;
    align-items: center;
    margin-right: 0px;
    list-style: none;
    background-color:#af8eb5;
    position: fixed;
    left:0;
    top: 60px;
    width: 100%;
    padding: 20px 0;
  
    /*añadir scroll pantalla super pequeña*/
    height: calc(100% - 60px);
    overflow-y:auto;
  
    left: 100%;
    transition: left 0.3s;
  }
  
  .nav-menu-item{
    font-size: 15px;
    margin: 0 10px;
    line-height: 80px;
    text-transform: uppercase;
    width: max-content;
  }
  
  .nav-menu-link{
    padding: 8px 12px;
    border-radius: 3px;
  }
  
  .nav-menu-link:hover,
  .nav-menu-link-active{
    background-color: #af8eb5;
    transition: 0,5s;
  }
  
  .nav-toggle{
    color: white;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    display: block;
  }
  
  .nav-menu_visible{
    left: 0;
  }
}
